<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="car" class="com.hh.spring4.x.section4_IOC_Reflect.Car"
          p:brand="Audi"
          p:color="Gray"
          p:maxSpeed="300"/>

    <!-- set 方法注入 -->

    <!-- 指定初始化方法 和 销毁方法 -->
    <!-- name 支持多个命名 逗号分隔 -->
    <!-- id 标识bean 是卫衣的 不能用特殊字符 -->
    <!--name="car1,car2"-->
    <bean id="car1"
          class="com.hh.spring4.x.section4_IOC.Car"
          init-method="myInit"
          destroy-method="myDestroy"
          p:brand="Audi"
          p:color="Gray"
          scope="singleton"
          p:maxSpeed="300"/>

    <!-- 构造函数注入 -->
    <bean name="car2" class="com.hh.spring4.x.section4_IOC.Car">
        <constructor-arg index="0" value="BMW M3"/>
        <constructor-arg index="1" value="银灰色"/>
        <constructor-arg index="2" value="300"/>
        <!-- 引用下面的foo 而下面foo 又引用car2 循环依赖 无法启动； 所以此类情况不要使用构造函数注入  -->
        <!--<constructor-arg index="4" ref="foo"/>-->
    </bean>

    <!-- 如果不指定命名name，默认name为全类名 -->
    <bean class="com.hh.spring4.x.section4_IOC.Car"/>

    <bean name="foo" class="com.hh.spring4.x.section4_IOC.Foo"
          p:IDCard="666">
        <!--<constructor-arg index="1" ref="foo"/>-->
    </bean>

    <!-- 非静态工厂方法注入 -->
    <bean id="carFactory" class="com.hh.spring4.x.section4_IOC.CarFactory"/>
    <bean id="car3" factory-bean="carFactory"
          factory-method="createBMW"/>

    <!-- 静态工厂方法注入 -->
    <bean id="car4" class="com.hh.spring4.x.section4_IOC.CarFactory"
          factory-method="createAudi"/>

    <import resource="inject.xml"/>

    <!-- FactoryBean -->
    <bean id="car6" class="com.hh.spring4.x.section5.CarFactoryBean"
          p:carInfo="吉姆尼，红色，200"/>

    <bean id="boss" class="com.hh.spring4.x.section5.Boss"
          p:car-ref="car1"/>

    <bean id="greetingAdvice" class="com.hh.spring4.x.section7_AOP_Advice.GreetingBeforeAdvice"/>
    <bean id="target" class="com.hh.spring4.x.section7_AOP_Advice.NaiveWaiter"/>
    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.hh.spring4.x.section7_AOP_Advice.Waiter"
          p:interceptorNames="greetingAdvice"
          p:target-ref="target"/>

    <bean id="greetingAround" class="com.hh.spring4.x.section7_AOP_Advice.GreetingAroundIntercept"/>
    <bean id="waiter2" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.hh.spring4.x.section7_AOP_Advice.Waiter"
          p:interceptorNames="greetingAround"
          p:target-ref="target"/>


    <bean id="pMonitor" class="com.hh.spring4.x.section7_AOP_Proxy.PerFormanceMonitor"/>
    <bean id="forumServiceTarget" class="com.hh.spring4.x.section7_AOP_Proxy.ForumServiceImpl"/>
    <bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.hh.spring4.x.section7_AOP_Advice.Monitorable"
          p:interceptorNames="forumServiceTarget"
          p:target-ref="pMonitor"
          p:proxyTargetClass="true"/>

    <!-- 基于AspectJ 的切面驱动器 -->
    <aop:aspectj-autoproxy/>
    <bean id="waiter3" class="com.hh.spring4.x.section7_AOP_Advice.NaiveWaiter"/>
    <bean class="com.hh.spring4.x.section8_AspectJ.PreGreetingAspect"/>

</beans>